
*{
    padding: 0;
    margin: 0;
}

/* Shareable css */
.early-access-btn{
    background-color: #30B868;
    border-radius: 4px;
    font-weight: bold;
    padding: 12px 16px;
    color: white;
    border: none;  
    cursor: pointer;
}
.early-access-btn:hover{
    background-color: #03a446; 
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 1600px;
    background-color: white;
}



/* header section */
header nav{
    box-sizing: border-box;
    padding: 24px 120px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links{
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 600;
}
nav a{
    text-decoration: none;
}
header .banner{   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 675px;
    text-align: center;
    background-image: url(./assets/hero-bg.png);
}
.banner .early-access{
    padding: 8px 30px;
    background-color: whitesmoke;
    color:#30B868;
    border-radius: 20px;
    box-sizing: content-box;
    display: inline-block;
    font-size: 500;   
}
.banner h1{
    font-size: 72px;
    font-weight: bold;
    color: white;
}
.banner h1 span{
    color: #30B868;
}
.banner-content p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.banner-content button{
    background-color: #30B868;
    padding: 16px; 
    border-radius: 4px;
    color: white;
    font-weight: 600;
    margin: 18px;  
    cursor: pointer;
}
.banner-content button:hover{
    background-color: #03a446; 
    border: 2px solid #03a446;
}



/* notes-section */
.notes-section{
    margin-top:80px ;
    text-align: center;
}
.notes-container{
    margin: 44px 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.notes-section h1{
    font-weight: bold;
    font-size: 48px;
}
.note-card{
    border-radius: 8px;
    padding: 70px 10px 4px 10px;
    background-color: #f4f4f3; 
}
.note-card img{
    box-sizing: border-box;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #F95555;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
}
.notes-section p{
    color: rgb(127, 126, 126);  
}



/* 2nd brain section */
.second-brain-section{
    margin: 120px 120px 0px 120px;
    display: flex;
    gap: 60px;
    justify-content: left;
}
.second-brain-section article{
    width: 500px;
}
.second-brain-section h3{
    margin-top:120px ;
    color: #30B868;
}
.second-brain-section .plane-text{
    margin-top:110px ;
    color: rgb(127, 126, 126);  
}
.second-brain-section .check-mark-text{
line-height: 34px;
font-weight: 500;
list-style: none;
}



/* .early-aces section */
.early-access{
    padding: 120px;
    text-align: center;
}
.early-access-container{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F7F6F2;
}
.early-access h1{
    font-size: 40px;
    font-weight: bold;
}
.early-access p{
    color: rgb(127, 126, 126);  
    margin-top: 16px;
    line-height: 24px;
}



/* footer section */
footer{
    background-color: #F95555;
    padding: 120px 120px 0;
    background-color: #012231;
    text-align: center;
}
footer nav{
    display: flex;
    justify-content: space-between;  
}
footer nav h2{
    font-size: 20px;
    font-weight:500;
    color: white;
    margin-bottom: 18px;
}
footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
footer ul img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
hr{
    margin-top: 80px;
    height: 1px; 
    background-color: #00d2fc;
    height: 1px; 
    width: 100%;
}

/* copy rights properties */
small{
    color: white;
    display: inline-block;
    margin: 30px;
}


/* developed by Akash */